<div className="register">
  <h3 className="text-center heading mb-3">Register User</h3>
  <Form>
    <div className="row justify-content-between mb-2">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          [(ngModel)]="name"
          class="form-control"
          id="name"
          placeholder="Enter Name"
        />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input
          type="email"
          [(ngModel)]="email"
          class="form-control"
          id="email"
          placeholder="Enter Email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          [(ngModel)]="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
        />
      </div>
    </div>
    <div class="row px-3">
      <button
        type="button"
        class="btn col-5 btn-secondary"
        (click)="loginUser()"
      >
        Login
      </button>
      <button
        type="button"
        class="btn col-5 offset-2 btn-primary"
        (click)="registerUser()"
      >
        Register
      </button>
    </div>
  </Form>
</div>
