.product-card-image {
  height: 10rem;
  max-width: 10rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.product-card:hover {
  border: 2px solid black;
}
