<div class="container-fluid">
  <app-search-filter-products
    (searchProduct)="searchProducts($event)"
    (filterProduct)="filterProducts($event)"
  ></app-search-filter-products>
  <div class="container-fluid row">
    <div
      *ngFor="let product of filteredProducts; index as i"
      class="col-lg-3 col-md-4 col-sm-6"
    >
      <a routerLink="/detail" aria-current="page">
        <app-product-card
          (click)="handleRoutes(product)"
          [product]="product"
        ></app-product-card>
      </a>
    </div>
  </div>
</div>
