<div class="bg-gray-400 root">
  <div *ngIf="router.url !== '/auth'; else elseBlock">
    <app-navbar [title]="title"></app-navbar>
    <div *ngIf="router.url == '/'">
      <div class="container mb-3">
        <h1 class="text-center">{{ title }}</h1>
      </div>
    </div>
  </div>
  <ng-template #elseBlock> </ng-template>
  <router-outlet></router-outlet>
</div>

<!-- List of products in inventory -->
<!-- Add Products with modal -->
<!-- Delete Products with modal -->
<!-- Update Products with modal -->
<!-- Product Detail Page -->
